{% extends 'mailsender/base.html' %}
{% block title %}Удаление клиента{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-4 m-5">
            <div class="card">
                <div class="card-body" style="color: black">
                    <form method="post">
                        {% csrf_token %}
                        <p>Удалить клиента {{ object.first_name }} {{ object.middle_name }} {{ object.last_name }}?</p>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'mailsender:customers_list'%}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}