{% extends 'mailsender/base.html' %}
{% block title %}Редактирование клиента{% endblock title %}
{% block content %}
<form method="post" enctype="multipart/form-data" style="color: black">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Редактировать клиента</h2>
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a href="{% url 'mailsender:customers_list' %}" class="btn btn-primary">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}